.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.buttons{
        display: flex;
         align-items: center;
        justify-content: center;
        gap: 20px;
}
.buttons .button{
padding: 10px 50px;
background-color: #7835CD;
border: none;
color: #fff;
font-size: 20px;
cursor: pointer;
}
.buttons .button:focus{
    background-color: #7735cdb9;
}
h1{
    font-size: 60px;
}

.field{
    padding: 10px 50px;
    outline: none;
    margin-top: 20px;
    font-size: 20px;
}