.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.buttons{
        display: flex;
         align-items: center;
        justify-content: center;
        gap: 20px;
}
.buttons .button{
padding: 10px 50px;
background-color: #7835CD;
border: none;
color: #fff;
font-size: 20px;
cursor: pointer;
}
.buttons .button:focus{
    background-color: #7735cdb9;
}
h1{
    font-size: 60px;
}

.field{
    padding: 10px 50px;
    outline: none;
    margin-top: 20px;
    font-size: 20px;
}
.searchCard{
    height: 200px;
    width: 33%;
    background-color: #7835CD;
    margin-top: 20px;
    display: flex;
        align-items: center;
    /* justify-content: center; */
    padding: 20px;
    border-radius: 9px;
}
.imageBox{
    height: 180px;
    width: 180px;
   background-color: #fff;
       border-radius: 9px;
    margin-right: 10px;
    overflow: hidden;
     display: flex;
        align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.searchContent{
        width: 50%;
         /* background-color: black; */
}