.hero{
    height: 90vh;
    /* background-color: #000; */
    overflow: hidden;
    width: 100%;
    background-image: url('/public/images/bg.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;

}
.heroContent{
    color:#fff;  
       display: flex;
    align-items: center;
    flex-direction: column;  
}
.heroContent .hero-title{
 color:#fff;
 font-size: 60px;
 font-family: 'lobster';
}
.heroContent p{
    width: 70%;
    text-align: center;
    margin-top: 10px;
}
.get-st{
    padding: 10px 50px;
    background-color: #7835CD;
    border: none;
     margin-top: 20px;
     font-size: 20px;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
}