.card{
margin-top: 20px;
/* color: #fff; */
}
.image-container{
width: 400px;
/* height: 550px; */
border: #fafafa 0.5px solid;
border-radius: 5px;
overflow: hidden;
display: flex;
align-items: center;
}